@import "tailwindcss";
@import "tw-animate-css";

/* 
colors: {
  // The "Science" Dark Blue Background
  slate: {
      850: '#151e32', // Custom deep blue
      900: '#0f172a',
  },
  // The "Life/Go" Green
  bio: {
      400: '#4ade80',
      500: '#22c55e',
      600: '#16a34a',
  },
  // The "DNA/Alert" Red
  dna: {
      400: '#f87171',
      500: '#ef4444',
      600: '#dc2626',
  }
}
 */

@theme {
  --color-slate-850: #151e32;
  --color-slate-900: #0f172a;
  --color-bio-400: #4ade80;
  --color-bio-500: #22c55e;
  --color-bio-600: #16a34a;
  --color-dna-400: #f87171;
  --color-dna-500: #ef4444;
  --color-dna-600: #dc2626;
}

@theme inline {
  --btn-bg: var(--color-bio-500);
  --btn-bg-hover: var(--color-bio-600);
  --btn-text: oklch(0.985 0 0);
}